{% extends "base.html" %}

{% block title %}Cardápio{% endblock %}

{% block content %}
<h3>Cardápio</h3>
<p>Gestão de cardápios.</p>

{% if role == "admin" %}
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    Unidades
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/cardapio">Todas</a>

    {% for un in unidades %}
      <a class="dropdown-item" href="/cardapio?unidade_id={{un.id}}">
        {{un.nome}}
      </a>
    {% endfor %}

  </div>
</div>
{% endif %}

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">Prato</th>
      <th scope="col">Preço</th>
      <th scope="col">Vendidos</th>
      <th scope="col">Unidade</th>
      <th scope="col">Promoção</th>
      <th scope="col">Ativo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for p in pratos %}
    <tr>
      <th scope="row">{{p.id}}</th>
      <td>{{p.nome}}</td>
      <td>{{p.preco}}</td>
      <td>-</td>
      <td>{{p.unidade}}</td>
      <td>{{p.promocao}}</td>
      <td>{{p.ativo}}</td>

      <td>
        <a href="/cardapio/editar/{{p.id}}" class="btn btn-primary btn-sm">
          Editar
        </a>
        {% if p.ativo %}
        <form action="/cardapio/deletar/{{p.id}}" method="post" style="display:inline;">
          <button type="submit" class="btn btn-danger btn-sm"
                  onclick="return confirm('Deesativar este prato?')">
            Desativar
          </button>
        </form>
        {% endif %}
      </td>
    </tr>
    {%endfor%}
</tbody>
</table>
<div class="d-flex gap-2 mt-3">
  <a href="/cardapio/criar" class="btn btn-success">
    Novo Prato
  </a>
</div>

{% endblock %}