{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<h3>Clientes</h3>
<p>Gestão de clientes.</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Registro</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefone</th>
      <th scope="col">Prog. Fidelização</th>
      <th scope="col">Nº de pedidos</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
  {% for c in clientes %}
  <tr>
    <th scope="row">{{c.id}}</th>
    <td>{{c.nome}}</td>
    <td>{{c.email}}</td>
    <td>{{c.telefone}}</td>
    <td>{{c.fidelizacao}}</td>
    <td>{{c.pedidos}}</td>
    <td>
      <a href="/clientes/editar/{{c.id}}" class="btn btn-primary">Atualizar</a>
      <a href="/clientes/deletar/{{c.id}}" class="btn btn-danger">Excluir</a>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
<div class="d-flex gap-2 mt-3">
    <a href="/registro_cliente" class="btn btn-success">Criar</a>
</div>

{% endblock %}