{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<h3>Clientes</h3>
<p>Gestão de clientes.</p>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    Unidades
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/clientes">Todas</a>
    {% for un in unidades %}
      <a class="dropdown-item" href="/clientes?unidade_id={{un.id}}">
        {{un.nome}}
      </a>
    {% endfor %}
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Registro</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefone</th>
      <th scope="col">Prog. Fidelização</th>
      <th scope="col">Nº de pedidos</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
  {% for c in clientes %}
  <tr>
    <th scope="row">{{c.id}}</th>
    <td>{{c.nome}}</td>
    <td>{{c.email}}</td>
    <td>{{c.telefone}}</td>
    <td>{{c.fidelizacao}}</td>
    <td>{{c.pedidos}}</td>
    <td>
      <button class="btn btn-primary">Atualizar</button>
      <button class="btn btn-danger">Excluir</button>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
<div class="d-flex gap-2 mt-3">
    <button class="btn btn-success">Criar</button>
</div>

{% endblock %}