{% extends "base.html" %}

{% block title %}Promoções{% endblock %}

{% block content %}
<h3>Promoções</h3>
<p>Gestão de promoções.</p>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    Unidades
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/promocao">Todas</a>
    {% for un in unidades %}
      <a class="dropdown-item" href="/promocao?unidade_id={{un.id}}">
        {{un.nome}}
      </a>
    {% endfor %}
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">Prato</th>
      <th scope="col">Preço fixo</th>
      <th scope="col">Desconto</th>
      <th scope="col">Preço Promo.</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for p in promocoes %}
    <tr>
      <th scope="row">{{p.id}}</th>
      <td>{{p.prato}}</td>
      <td>{{p.preco_fixo}}</td>
      <td>{{p.desconto}}</td>
      <td>{{p.preco_promo}}</td>

      <td>
        <button class="btn btn-primary">Detalhes</button>
        <button class="btn btn-danger">Excluir</button>
      </td>
    </tr>
    {%endfor%}
</tbody>
</table>
<div class="d-flex gap-2 mt-3">
    <button class="btn btn-success">Criar</button>
</div>

{% endblock %}